<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2011-03-10-sample-post.md</string>
		</array>
		<array>
			<string>2013-05-22-sample-post-images.md</string>
		</array>
		<array>
			<string>2013-05-23-readability-feature-post.md</string>
		</array>
		<array>
			<string>2014-02-17-welcome-to-jekyll.md</string>
		</array>
		<array>
			<string>2014-05-30-image-grids.md</string>
		</array>
		<array>
			<string>2014-05-31-video-post-test.md</string>
		</array>
		<array>
			<string>2014-06-23-author-override.md</string>
		</array>
		<array>
			<string>2014-11-29-syntax-highlighting-test.md</string>
		</array>
	</array>
</dict>
</plist>
